<p>
This is a web dashboard for the SLURM scheduler built with Django, Bootstrap, and pyslurm. 
</p>

<p>
You can change this message and customize it for your site by editing 
<code>./slurm/templates/slurm/site/site-description.html</code>. 
This is probably where you'd write an informative message about your cluster
or organization or something like that. 
Check out the <code>./slurm/templates/slurm/site</code> and 
<code>./slurm/static/slurm</code> folders for additional customization options. 
You are encouraged to change whatever :)
</p>

