{# Load bootstrap3 #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

{% include 'slurm/navbar.html' %}

<div class="container">
  </br></br></br></br>

  <div class="row">
    <div class="col-md-2">
		<img src="{% static 'slurm/slurm_logo.png' %}" alt="SLURM logo" height=150px>
    </div>
    <div class="col-md-10">
      <div class="page-header">
         <h1>SLURM</h1>
         <p class="lead">Status and online services</p>
      </div>
    </div>
  </div>

  <h3>System status</h3>
  {% if controllers_up %}
  <b><p>Controller Status -- UP</p></b>
  {% else %}
  <b><p>Controller Status -- DOWN</p></b>
  {% endif %}
  <p>{{ nodes_reporting }} of {{ total_nodes }} nodes reporting.</p>
</div>

