{% extends 'slurm/base.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-md-2">
        <img src="{% static 'slurm/slurm_logo.png' %}" alt="SLURM logo" height=150px>
    </div>
    <div class="col-md-10">
        <div class="page-header">
            <h1>SLURM</h1>
            <p class="lead">Status and online services</p>
        </div>
    </div>
</div>

{% include 'slurm/site/site-description.html' %}

<h3>System at-a-glance:</h3>

<div class="row">
    <div class="col-md-2">
        <p><b>Controller status: </b>placeholder</p>
        <p><b>Controller uptime: </b>placeholder</p>
        <p><b>Total jobs: </b>placeholder</p>
        <p><b>Cluster load: </b>placeholder</p>
        <p><b>Average queue time: </b>placeholder</p>
    </div>
    {{ nodes | safe }}
    {{ jobs | safe }}
</div>
{% endblock %}

