{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% include "slurm/navbar.html" %}

<div class=container>
	<h1>Nodes</h1>
	<table class="table table-hover">
		<thead>
			{% for field in fields %}
				<th>{{field}}</th>
			{% endfor %}
		</thead>
		<tbody>
			{% for node in nodes %}
				<tr>
					{# TODO find a way to iterate through these later #}
					<td>{{node.hostname}}</td>
					<td>{{node.state}}</td>
					<td>{{node.cpus}}</td>
					<td>{{node.alloc_cpus}}</td>
					<td>{{node.real_mem}}</td>
					<td>{{node.alloc_mem}}</td>
					<td>{{node.tmp_disk}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

